@import "../../mixins/css/basefield.css";

.input-field {
  background-color: #ecf0f1;
  border-radius: 3px;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-field > .files {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;

  height: calc(85% - 10px);
  width: calc(98% - 10px);
  overflow-y: auto;
}

.input-field > .files > .file {
  background-color: #95a5a6;
  border-radius: 5px;
  height: 55px;
  margin-bottom: 5px;
  width: 150px;
  
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px 15px;
}

.input-field > .files > .file > div {
  min-width: 50px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.input-field > .files > .file > div > * {
  margin: 0px 10px;
}

.input-field > .files > .file > div > .file-upload {
  max-width: 50px;
  max-height: 50px;
  border-radius: 5px;
}

.input-field > .files > .file > div > .info {
  color: #ffffff;
  font-weight: 600;
}

.input-field > .files > .file > div > .info > .name {
  max-width: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 15px;
}

.input-field > .files > .file > div > .info > .size {
  font-size: 8px; 
}

.input-field > .files > .file > div > .close {
  height: 8px;
  margin: 0px 10px;
  cursor: pointer;
}

.input-field > .files > .file > div > .close:hover {
  height: 10px;
  margin: 0px 9px;
  filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(119%);
}

.input-field > .files:empty:hover {
  border: 1px dashed #95a5a6;
}

.input-field > .files:empty::before {
  content: attr(div-placeholder);
  font-size: 20px;
  opacity: 0.3;
  line-height: 48px;
}

@media only screen and (min-width: 761px) {
  .input-field > div {
    width: calc(80% - 10px);
    height: calc(100% - 2px);
  }
}

@media only screen and (max-width: 760px) {
  .input-field > div {
    width: calc(90% - 10px);
    height: calc(100% - 2px);
  }
}